#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('image/back.jpg');
    background-attachment: fixed;
    background-size: 100%;
    opacity: 0.6;
    z-index: -1;
}


body{background-color: #ffffe6}

.back{
	font-size: 20px;
	background: rgba(90, 64, 64, 0.5);
	position: fixed;
    bottom: 8px;
    right: 8px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'TeXGyreAdventorRegular'; 
	font-weight: normal; 
	font-style: normal;
}
.back a {color: #ffffff}

img{
  width: 25%;
  height: 25%;
}

#title{
	color:#4d3319;
	text-align: center;
	font-family: 'GrundschriftBold'; 
	font-weight: bold; 
	font-style: normal;
	font-size: x-large; 
}
.link{
	padding: 1%;
	background: rgba(90, 64, 64, 0.5);
	text-align: center;
	width:47%;
	font-size: 20px;
	margin:0.1%;
	display: inline-block;
}
.links{text-align: center;}
.links a{
	color: #f2f2f2;
	font-family: 'TeXGyreAdventorRegular'; 
	font-weight: normal; 
	font-style: normal;
}
#text{
	font-family: 'TitilliumTextRegular'; 
	font-weight: normal; 
	font-style: normal; 
	font-size: 28px;
	color: #4d3319;
	text-align: center;
}
#heading1{
	color:#4d3319;
	font-size:xx-large; 
	font-family: 'GrundschriftBold'; 
	font-weight: bold; 
	font-style: normal;
	text-align: center;
	padding:1%;
	margin:1%;
}

.state a{
	background: rgba(255, 0, 0, 0.3);
	margin: 1%;
	font-size: 20px;
	padding: 1%;
	text-align: center;
	margin:0,5%;
	display: inline-block;
	color: #f2f2f2;
	font-family: 'TeXGyreAdventorRegular'; 
	font-weight: normal; 
	font-style: normal;
}
.usbreeder h3{
	font-size: xx-large;
	color: #4d3319;
	font-family: 'GrundschriftBold'; 
	font-weight: bold; 
	font-style: normal;
	text-align: center;
}
.usbreeder p{
	font-size: large;
	color: #4d3319;
	font-family: 'TitilliumTextRegular'; 
	font-weight: normal; 
	font-style: normal;
}
.usbreeder a{
	font-size: large;
	color: #4d3319;
	font-family: 'TitilliumTextRegular'; 
	font-weight: normal; 
	font-style: normal;
}

.every{
	padding-left: 2%;
	padding-right: 2%;
	margin-right:1%;
	margin-bottom: 2.5%;
	margin-top: 1%;
	margin-left: 1%;
	display: inline-block;
	background: rgba(210, 204, 255, 0.3);
}
